/nginx/
/php/

/wordpress/wp-admin/

/wordpress/wp-content/languages
/wordpress/wp-content/upgrade
/wordpress/wp-content/uploads
/wordpress/wp-content/plugins
/wordpress/wp-content/themes/*


# Custom themes & plugins
!/wordpress/wp-content/themes/my-custom-theme/


/wordpress/wp-content/index.php
/wp-content/index.php

/wordpress/wp-includes/

/index.php
/license.txt
/readme.html
/xmlrpc.php

*.log